<div class="recipe-list">
	<h1>
		<%= @recipe_list.recipe_name %>
	</h1>
	<div class="recipe-image">
		<%= image_tag @recipe.image.url(:medium) %>
	</div>
	<div>
	<%= form_for @recipe_list do |f| %>
		<%= f.submit "Parse Recipe" %>
	<% end %>
	<br>
	<div class="ingredients">
		<ul data-role="listview">
			<li data-role="list-divider">
			 	<h3>Ingredients<h3>
			</li>
		<% if @certain_words.any? %>
			<%= render @certain_words %>
		<% end %>
		<% if @potential_words.any? %>
			<%= render @potential_words %>
		<% end %>
		</ul>
	</div>
	<div data-role="footer" data-position="fixed"> 
		<%= link_to "Add to Shopping List", add_to_shopping_list_path(:params => {:recipe_list_id => @recipe_list.id}), :class => "full-width-button"%>
	</div>
</div>
		