<div class="shopping-list">
	<ul>
		<li>
			<h1>
				Recipes:
				<%= @recipe_lists.count %>
			</h1>
		</li>
		<% @recipe_lists.each do |recipe| %>
			<li>
				<span class="recipe-name">
					<%= recipe.recipe_name %>
				</span>

				<%= button_to "Remove From List", remove_from_shopping_list_path(:params => {:recipe => recipe}) %>
			</li>
		<% end %>
	</ul>
	<br>
	<ul>
		<li>
			<h1>
				ingredients:
				<%= @ingredients.count %>
			<h1>
		</li>
		<% @ingredients.each do |ingredient| %>
			<li class="ingredient" onclick="toggleStrike(this)">
				<%= ingredient.word %>
			</li>
		<% end %>
	</ul>
<div>
